<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<test name="Test_Chrome">
		<parameter name="Browser" value="chrome"></parameter>
		<parameter name="url" value="https://demo.guru99.com/selenium/newtours/"></parameter>
		<classes>
			<class name="Test.TestMercuryTours" />
		</classes>
	</test>
	
	<test name="Test_Edge">
		<parameter name="Browser" value="edge"></parameter>
		<parameter name="url" value="https://demo.guru99.com/selenium/newtours/"></parameter>
		<classes>
			<class name="Test.TestMercuryTours" />
		</classes>
	</test>

</suite> 
